* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-family: "Work Sans", sans-serif;
}

section {
  margin-top: 50px;
}
.header {
  width: 100%;
  background: url("../images/banner/banner1.png") no-repeat center / cover;
}

.header-container {
  width: 100%;
  margin: 0px auto;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: right;
}

.info {
  display: flex;
  flex-direction: column;
  width: 525px;
  align-items: flex-end;
  margin-right: 230px;
}

.header-description {
  color: var(--Dark-02, #444343);
  font-size: 18px;
  font-weight: 400;
  margin-top: 20px;
}

.header-title {
  color: var(--Dark-01, #151414);
  text-align: right;
  font-family: Work Sans;
  font-size: 65px;
  font-weight: 700;
}

.btn-primary {
  border-radius: 5px;
  border: 0;
  background: #f15b22;
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: fit-content;
  padding: 15px 18px;
  margin-top: 20px;
}

.failure-container {
  display: flex;
  gap: 100px;
  width: 70%;
  margin: 10px auto;
}

.failure-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.failure-item-container {
  display: flex;
  flex-direction: column;
}

.failure-item {
  display: flex;
  gap: 15px;
}

.img-column img {
  height: 500px;
}

.failure-title {
  color: var(--Dark-01, #151414);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 700;
}

.failure-description {
  color: var(--Dark-02, #444343);
  font-family: Work Sans;
  font-size: 16px;
  font-weight: 400;
  margin: 12px 0px;
}

.my-plans-title {
  text-align: center;
}

.my-plans {
  width: 70%;
  margin: 0 auto;
}
.plans-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.plan-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.plan-item img {
  width: 70px;
  height: 70px;
}

.my-plans-title {
  color: var(--Dark-01, #151414);
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 40px;
}

.plan-description {
  color: var(--Dark-01, #151414);
  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

.call-now {
  border-radius: 5px;
  display: block;
  padding-left: 50px;
  padding-top:50px;
  justify-content: center;
  width: 62%;
  height: 280px;
  margin: 100px auto;
  background: url("../images/gradient3.png"), url("../images/watch.png") no-repeat;
}

.btn-secondary {
  border-radius: 5px;
  border: 0;
  background: #fff;
  color: #f15b22;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  height: fit-content;
  padding: 15px 18px;
  margin-top: 20px;
}

.call-now-title {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
}

footer {
  display: flex;
  padding: 130px 230px;
  background-color: #151414;
  gap: 150px;
}
.footer-column {
  width: 50%;
  
}

.footer-title {
  color: #f8f8f8;
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-description {
  color: #fff;
  margin-bottom: 20px;
}

.social-links a {
  margin-right: 10px;
}

.social-links img {
  width: 30px;
  height: 30x;
}

.footer-column-contact-form input {
  display: block;
  margin-bottom: 10px;
  
}

.footer-column-contact-form input[type="email"] {
  color: var(--Dark-07, #f3f3f3);
  font-size: 18px;
  padding: 18px 20px;
  border-radius: 8px;
  border: 1px solid #fff;
  width: 70%;
}


